refresh:
  fields:
    device_id:
      required: true
      selector:
        device:
          filter:
            integration: tns_energo

send_readings:
  fields:
    device_id:
      required: true
      selector:
        device:
          filter:
            integration: tns_energo
            model: Электросчетчик
    t1:
      required: true
      selector:
        entity:
          filter:
            domain: sensor
            device_class: energy
    t2:
      required: false
      selector:
        entity:
          filter:
            domain: sensor
            device_class: energy
    t3:
      required: false
      selector:
        entity:
          filter:
            domain: sensor
            device_class: energy

get_bill:
  fields:
    device_id:
      required: true
      selector:
        device:
          filter:
            integration: tns_energo
            model: Лицевой счет
    date:
      required: false
      selector:
        date:
